<% if (hasMore) { %>
  <div class="text-center mt-4 mb-4">
    <button id="loadMoreBtn"
      class="btn btn-outline-dark px-4 fw-semibold"
      data-page="<%= page %>"
      data-has-more="true"
      data-loading="false"
    >
      Load More
    </button>
  </div>
<% } %>