<div class="auth-divider">or <%= actionText  %> with</div>

<div class="oauth-row">

  <a href="/auth/google" class="oauth-circle" title="Continue with Google">
    <img src="/images/google.svg" alt="Google">
  </a>

  <a href="/auth/github" class="oauth-circle" title="Continue with GitHub">
    <img src="/images/github.svg" alt="GitHub">
  </a>

  <a href="/auth/facebook" class="oauth-circle" title="Continue with Facebook">
    <img src="/images/facebook.svg" alt="Facebook">
  </a>

</div>