<label class="auth-label mt-3 fw-semibold" for="password"><%=passwordLabel %></label>
<div class="auth-input-wrapper">
  <input
    class="auth-input auth-password"
    type="password"
    name="password"
    id="password"
    placeholder="<%= passwordPlaceholder%>"
    required
  />
  <img src="/images/eye.png" class="auth-eye auth-toggle" />
</div>

<!-- password strenght checker -->
<div id="pw-strength" class="pw-strength" style="display: none">
  <div class="pw-strength-bar"></div>
  <span class="pw-strength-text">Weak</span>
</div>

<!-- password validation stuff -->
<ul class="auth-pass-checklist" id="pw-rules" style="display: none">
  <li class="pw-heading" style="list-style: none; margin-bottom: 6px">
    PASSWORD MUST CONTAIN:
  </li>
  <li data-rule="lower">
    <span class="rule-icon">X</span> at least one lowercase
  </li>
  <li data-rule="upper">
    <span class="rule-icon">X</span> at least one uppercase
  </li>
  <li data-rule="number">
    <span class="rule-icon">X</span> at least one number
  </li>
  <li data-rule="special">
    <span class="rule-icon">X</span> at least one special character
  </li>
  <li data-rule="length">
    <span class="rule-icon">X</span> minimum 6 characters
  </li>
</ul>
<p
  class="auth-error"
  id="pw-error"
  style="display: none; color: red; font-size: 0.85rem; margin-top: 6px"
>
  Password does not meet all requirements.
</p>

<label class="auth-label mt-3 fw-semibold" for="confirmPassword"
  ><%= confirmLabel %></label
>
<div class="auth-input-wrapper">
  <input
    class="auth-input auth-password"
    type="password"
    name="confirmPassword"
    id="confirmPassword"
    placeholder="<%= confirmPlaceholder %>"
    required
  />
  <img src="/images/eye.png" class="auth-eye auth-toggle" />
</div>
<!-- validation if both password does not match -->
<p
  class="auth-error"
  id="pw-match-error"
  style="display: none; color: red; font-size: 0.85rem; margin-top: 6px"
>
  Password do not match as above.
</p>
