<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Campexxa</title>

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB"
      crossorigin="anonymous"
    />

    <script
      crossorigin="anonymous"
      src="https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.js"
    ></script>
    <link
      crossorigin="anonymous"
      href="https://api.mapbox.com/mapbox-gl-js/v3.17.0-beta.1/mapbox-gl.css"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/auth.css" />
    <link rel="stylesheet" href="/stylesheets/campgrounds.css" />
    <link rel="stylesheet" href="/stylesheets/reviews.css" />
    <link rel="stylesheet" href="/stylesheets/navbar.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body class="d-flex flex-column vh-100">
    <%- include('./../partials/navbar') %>
    <main class="container mt-3">
      <%- include('./../partials/flash') %> <%- body %>
    </main>
    <%- include('./../partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.min.js"
      integrity="sha384-G/EV+4j2dNv+tEPo3++6LCgdCROaejBqfUeNjuKAiuXbjrxilcCdDz6ZAVfHWe1Y"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/zxcvbn/4.4.2/zxcvbn.js"></script>

    <script src="/javascripts/validateForms.js"></script>
    <script src="/javascripts/eyeToggle.js"></script>
    <script src="/javascripts/pwValidate.js"></script>
    <script src="/javascripts/dragdrop.js"></script>
    <script src="/javascripts/charCount.js"></script>
    <script src="/javascripts/checkBoxSelect.js"></script>
    <script src="/javascripts/geoLocation.js"></script>

    <!-- Global Image Modal -->
    <div id="globalModal" class="imgmod-backdrop d-none">
      <button id="imgmodClose" class="imgmod-close">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="28"
          height="28"
          viewBox="0 0 24 35"
          fill="none"
        >
          <path
            d="M6 6L18 18M18 6L6 18"
            stroke="black"
            stroke-width="2"
            stroke-linecap="round"
          />
        </svg>
      </button>
      <button id="imgmodPrev" class="imgmod-nav imgmod-prev">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="38"
          viewBox="0 0 24 38"
          fill="none"
        >
          <path
            d="M15 6L9 12L15 18"
            stroke="black"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <img id="imgmodImage" class="imgmod-photo" src="" />
      <button id="imgmodNext" class="imgmod-nav imgmod-next">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="38"
          height="38"
          viewBox="0 0 24 38"
          fill="none"
        >
          <path
            d="M9 6L15 12L9 18"
            stroke="black"
            stroke-width="2.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </button>
      <div id="imgmodCounter" class="imgmod-counter">1 / 1</div>
    </div>

    <script src="/javascripts/imageModal.js"></script>
  </body>
</html>
